<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict/>
		<key>sheetOrder</key>
		<real>525086894.74485701</real>
	</dict>
	<key>sheetClusters</key>
	<array/>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>750b2ed37af82d2229f8e3b341220e6962d1c2d3a31eac72f45dec596c423627</key>
			<integer>3</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>750b2ed37af82d2229f8e3b341220e6962d1c2d3a31eac72f45dec596c423627</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
